article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

div.pod-container {
	margin-top: 70px;
}

.podcasts {
	display: none;
}

.introduction, .walk, .global_topics, .human_topics, .light_topics {
	height: 100vh;
	position:absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: #3498db;
}

.introduction {
	background: linear-gradient(rgba(52, 152, 219, .8),rgba(52, 152, 219, .8)), url(balancedFood1.jpeg);
	background-size: cover;
}

.walk {
	background: linear-gradient(rgba(52, 152, 219, .8),rgba(52, 152, 219, .8)), url(walk1.jpeg);
	background-size: cover;
	background-position: bottom right;
}

.global_topics {
	background: linear-gradient(rgba(52, 152, 219, .8),rgba(52, 152, 219, .8)), url(global1.jpeg);
	background-size: cover;
	background-position: bottom right;
}

.human_topics {
	background: linear-gradient(rgba(52, 152, 219, .8),rgba(52, 152, 219, .8)), url(human1.jpeg);
	background-size: cover;
	background-position: bottom right;
}

.light_topics {
	background: linear-gradient(rgba(52, 152, 219, .8),rgba(52, 152, 219, .8)), url(light1.jpeg);
	background-size: cover;
	background-position: bottom right;
}

.introduction {
	z-index:10;
}

.walk {
	z-index:9;
}

.global_topics {
	z-index:8;
}

.human_topics {
	z-index:7;
}

.light_topics {
	z-index:6;
}

.intro_next, .walk_next, .global_next, .human_next {
		margin: 30px auto;
		display: block;
		padding: 5px;
		background: #fff;
		width: 100px;
		font-size: 20px;
		border: none;
		color: #34495e;
		text-transform: uppercase;
		background-color: #e6da22;
		font-family: 'Lora', serif;
		text-align: center;
		text-shadow: none;
		cursor: pointer;
	}

.intro_container2, .choice_container {
	margin: 100px auto 0px;
	max-width: 700px;
	color: #fff;
	/*background: linear-gradient(rgba(52, 152, 219, .8),rgba(52, 152, 219, .8)), url(balancedFood1.jpeg)*/
	padding: 20px;
	text-shadow: 1px 1px 3px #7f8c8d;
	line-height: 1.5;
	letter-spacing: 1px;
	font-size: 16px;
}

.choice_container input {
	display: block;
	margin: 5px 0px;
}

.intro_container2 .underline {
	margin: 15px 0 30px 0;
}


audio {
	display: block;
}

body {
	color: #2c63ae;
	font-family: 'Lora', serif;
}

.pod-container {
	border-bottom: 1px solid #f1c40f;
	margin: 20px;
	max-width: 700px;
	margin: 10px auto;
}

.overlay {
	background-color: #3498db;
	width: 100%;
	height: 100vh;
	padding: 1px;
}

form {
	text-align: center;
	color: #fff;
}

form input[type='submit'] {
	padding: 5px;
	background: #fff;
	width: 100px;
	font-size: 20px;
	border: none;
	color: #34495e;
	text-transform: uppercase;
	background-color: #e6da22;
	font-family: 'Lora', serif;
	margin: 50px;
	cursor: pointer;
}

form input[type='radio'] + label{
	font-size: 20px;
	margin: 0px 30px;
	font-family: 'Istok Web', sans-serif;
	cursor: pointer;
}

form input[type='checkbox'] + label{
	font-size: 20px;
	margin: 0px 30px;
	font-family: 'Istok Web', sans-serif;
	cursor: pointer;
}

form input[type='radio']:checked + label {
	color: #e6da22;
	padding: 5px;
	border: 2px solid #e6da22;
	border-radius: 10px;
	cursor: pointer;
}

form input[type='checkbox']:checked + label {
	color: #e6da22;
	padding: 5px;
	border: 2px solid #e6da22;
	border-radius: 10px;
	cursor: pointer;
}

.underline {
	margin: 15px auto 30px auto;
	max-width:300px;
	border-bottom: 1px solid #e6da22 ;
	padding: 0px;
}

form input[type='radio'] {
	visibility: hidden;
}

form input[type='checkbox'] {
	visibility: hidden;
}

form h2 {
	font-size: 30px;
	margin: 40px auto 5px auto;
	color: #ecf0f1;
	text-shadow: 1px 1px 3px #7f8c8d;
}

.descriptionTitle {
	color: #d35400;
	margin: 40px 0px 5px 0px;
}

.description {
	margin: 20px 0px;
}

audio {
	background-color: blue;
}

.pod-container h2 {
	font-size: 30px;
	margin-top: 20px;
}

.cast-time {
	font-size: 20px;
	margin: 25px 0px 5px 0px;
	color: #d35400;
}

.please-wait {
	position: absolute;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, .8);
	font-size: 40px;
	text-align: center;
	margin: 0 auto;
	display:none;
	z-index: 10;
}

.please-wait p {
	margin-top: 300px;
	z-index: 10;
}

.lets-doit {
	margin-top: 300px;
	text-decoration: none;
	position: relative;
	top: 300px;
	color: #34495e;
	text-transform: uppercase;
	background-color: #e6da22;
	font-family: 'Lora', serif;
	padding: 15px;
}
/*.start-overlay form input[type="radio"]:checked + label {
  color: #A41111;
}

.start-overlay form input[type="radio"] {
  visibility: hidden;
}*/

/*.podcasts {
	display: none;
}*/

@media all and (max-width: 450px) {

	.overlay {
		/*background-color: #3498db;
		width: 100%;*/
		height: 600px;
		/*padding: 1px;*/
	}

	.introduction, .walk, .global_topics, .human_topics, .light_topics {
		height: 600px;
		/*position:absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background: #3498db;*/
	}

	.pod-container {
		border-bottom: 1px solid #f1c40f;
		margin: 20px;
		max-width: 320px;
		margin: 10px auto;
	}
	.intro_container2, .choice_container {
		margin: 20px auto 0px;
		/*max-width: 700px;
		color: #fff;
		background: linear-gradient(rgba(52, 152, 219, .8),rgba(52, 152, 219, .8)), url(balancedFood1.jpeg)
		padding: 20px;
		text-shadow: 1px 1px 3px #7f8c8d;
		line-height: 1.5;
		letter-spacing: 1px;
		font-size: 16px;*/
	}

	.intro_container h1 {
		font-size: 25px;
	}

	.choice_container h2 {
		font-size: 25px;
	}
	

	.intro_next, .walk_next, .global_next, .human_next {
		margin: 15px auto;
		/*display: block;
		padding: 5px;
		background: #fff;
		width: 100px;
		font-size: 20px;
		border: none;
		color: #34495e;
		text-transform: uppercase;
		background-color: #e6da22;
		font-family: 'Lora', serif;
		text-align: center;
		text-shadow: none;*/
	}

	.please-wait p {
		margin-top: 200px;
		z-index: 10;
	}

}